/*
 *	api.css by Giuseppe “JustHvost” D`Amico
 *			{ hvost@paranoici.org }
 *
 */


@import url(http://fonts.googleapis.com/css?family=Bubbler+One);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Sunshiney);

body { background: url('lined_paper.png'); }
header { font-family: 'Bubbler One', sans-serif; font-size: 0.8em; margin-top: -30px; 
	     position: absolute; top: 0; right: 0;}

header h1 { text-shadow: 1px 1px 3px #333; display: inline-block; letter-spacing: -2px; }
header h1#heart { font-size: 0.7em; }

a { text-decoration: none; }

section { width: 60%; margin: 0 auto; text-align: center; font-family: 'Sunshiney', cursive; font-size: 2em;
		  color: #2c3e50; }
footer p#from-to { font-family: 'Sunshiney', cursive; font-size: 2em; text-align: right; color: #2c3e50; }

p { margin-top: -10px; }