/*
 *	main.css by Giuseppe “JustHvost” D`Amico
 *			{ hvost@paranoici.org }
 *
 */


@import url(http://fonts.googleapis.com/css?family=Bubbler+One);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600);

body { background: #ecf0f1;}

header    { font-family: 'Bubbler One', sans-serif; font-size: 3em; text-align: center; margin-top: -50px; }
header p  { margin-top: -70px; font-size: 0.4em; font-style: italic; color: #1abc9c; }
header h1 { text-shadow: 1px 1px 3px #333; display: inline-block; letter-spacing: -2px; }
header h1#heart { font-size: 0.5em; }

section#menu { width: 410px; margin: 0 auto; background: red; }
section#menu div#start_default, div#start_custom { background: #2ecc71; padding: 0.1px; width: 200px; text-align: center; color: #eee;
                    font-family: 'Josefin Sans', sans-serif; font-size: 1.8em; 
                    margin: 70px auto; }
section#menu div#start_default:hover, div#start_custom:hover { opacity: 0.92; }
section#menu div#start_default { float: left; -webkit-border-radius: 20px 0 0 20px; -moz-border-radius: 20px 20px 0 0 20px; 
                    					 -o-border-radius: 20px 0 0 20px; border-radius: 20px 0 0 20px; }
section#menu div#start_custom { float: right; -webkit-border-radius: 0 20px 20px 0; -moz-border-radius: 0 20px 20px 0; 
                    					 -o-border-radius: 0 20px 20px 0; border-radius: 0 20px 20px 0; }

input { display: block; margin: 70px auto; padding: 20px; 
	    border-radius: 30px 30px 30px 30px; -webkit-border-radius: 30px 30px 30px 30px; 
	    -moz-border-radius: 30px 30px 30px 30px; -o-border-radius: 30px 30px 30px 30px; 
        background: #1abc9c; border: 2px solid #1abc9c; color: #eee; font-family: 'Josefin Sans', sans-serif;
        font-size: 2em; }
input#link { text-align: center; width: 90%; }

p#about { text-align: center; font-style: italic; font-family: 'Josefin Sans', sans-serif; }

a { text-decoration: none; color: #1abc9c; outline: none; }

div#submit_default, div#submit_custom { background: #2ecc71; width: 150px; padding: 0.1px; text-align: center; margin: 0 auto;
			color: #eee; font-family: 'Josefin Sans', sans-serif; font-size: 1.5em; 
			-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }
div#submit_default:hover, div#submit_custom:hover { opacity: 0.92; }